body {
    backgroound: #000;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
    color: #FFF;
    background-color: black;
    }

h1 {
    margin-top: 10%;
    color: #FF33A8;
    font-size: 60px;
    font-family: 'Bungee Shade', cursive;}

p {
    font-color: #fff;}

/* Style all social media icons */
.fa {
    padding: 30px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: gold; 
}


/* Set a specific color for each brand */

/* Instagram */
.fa-instagram {
  color: #FFF;
}

/* Twitter */
.fa-twitter {
  color: #FFF;
}

/* Youtube */
.fa-youtube {
  color: #FFF;
}
    
