body {
    backgroound: #000;
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 300;
    color: #FFF;
    background-color: black;
    min-height: 100vh;
    }

p {
    font-color: #fff;}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFF;
  text-align: center;
  margin: 1%;
}

/* Style all social media icons */
.fa {
    padding: 30px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: gold; 
}


/* Set a specific color for each brand */

/* Instagram */
.fa-instagram {
  color: #FFF;
}

/* Twitter */
.fa-twitter {
  color: #FFF;
}

/* Youtube */
.fa-youtube {
  color: #FFF;
}
    
/* SIGN */

/*-- Sign Styles --*/

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Vibur", cursive;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 5.6rem;
  text-align: center;
  line-height: 1;
  color: #c6e2ff;
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);}

/*-- Animation Keyframes --*/

// animation

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}



// Link
.link {
	position: absolute;
	bottom: 10px; left: 10px;
	color: #828282;
	text-decoration: none;
	
	&:focus,
	&:hover {
    color: #c6e2ff;
		text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
	}
}
